@tailwind base;
@tailwind components;
@tailwind utilities;

/* #005b94 */
.product-card-hover-effect:hover img {
  @apply transform scale-110 transition;
}
.product-card-hover-effect:hover h3 {
  @apply underline text-sky-600 transition;
}
.product-card-hover-effect:hover h5 {
  @apply underline text-sky-600 transition;
}
.custom-scrollbar {
  overflow-y: auto;
}
.custom-scrollbar::-webkit-scrollbar {
  -webkit-appearance: none;
}
.custom-scrollbar::-webkit-scrollbar:vertical {
  width: 11px;
}
.custom-scrollbar::-webkit-scrollbar:horizontal {
  height: 11px;
}
.desktop-nav-lv-1 {
  @apply font-semibold px-1.5 py-2.5 inline-flex items-center border-b-2 border-transparent hover:border-blue-900 transition ease-in duration-100 mx-3;
  color: #003953;
}
